<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <app-pais-input
        class="animate__animated animate__bounce"
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholder="Buscar Capital..."
    ></app-pais-input>
  </div>
</div>

<hr>

<div *ngIf="error" class="alert alert-danger">
  No se encontro la capital
</div>

<div *ngIf="!error" class="row">
  <div class="col">
    <app-table class="animate__animated animate__bounce" [paises]="capital"></app-table>
  </div>
</div>
